In [25]:
import pandas as pd
import numpy as np

In [26]:
titanic_df = pd.read_csv("data/train.csv")
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [27]:
titanic_test = pd.read_csv('data/test.csv')

In [28]:
titanic_df.shape

(891, 12)

In [29]:
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [30]:
titanic_df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [31]:
titanic_df.describe(include='object')

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [32]:
titanic_df['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [33]:
titanic_df.describe(include='object').loc['unique'] / titanic_df.describe(include='object').loc['count']

Name             1.0
Sex         0.002245
Ticket       0.76431
Cabin       0.720588
Embarked    0.003375
dtype: object

In [34]:
titanic_df = titanic_df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
titanic_test = titanic_test.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

In [35]:
titanic_df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [36]:
titanic_df_final = pd.get_dummies(titanic_df)
titanic_test_final = pd.get_dummies(titanic_test)

In [37]:
titanic_df_final.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,0,3,35.0,0,0,8.0500,0,1,0,0,1

In [38]:
titanic_df_final.corr()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
Survived,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,0.543351,-0.543351,0.168240,0.003650,-0.155660
Pclass,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,-0.131900,0.131900,-0.243292,0.221009,0.081720
Age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,-0.093254,0.093254,0.036261,-0.022405,-0.032523
SibSp,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,0.114631,-0.114631,-0.059528,-0.026354,0.070941
Parch,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,0.245489,-0.245489,-0.011069,-0.081228,0.063036
Fare,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,0.182333,-0.182333,0.269335,-0.117216,-0.166603
Sex_female,0.543351,-0.131900,-0.093254,0.114631,0.245489,0.182333,1.000000,-1.000000,0.082853,0.074115,-0.125722
Sex_male,-0.543351,0.131900,0.093254,-0.114631,-0.245489,-0.182333,-1.000000,1.000000,-0.082853,-0.074115,0.125722
Embarked_C,0.168240,-0.243292,0.036261,-0.059528,-0.011069,0.269335,0.082853,-0.082853,1.000000,-0.148258,-0.778359
Embarked_Q,0.003650,0.221009,-0.022405,-0.026354,-0.081228,-0.117216,0.074115,-0.074115,-0.148258,1.000000,-0.496624
Embarked_S,-0.155660,0.081720,-0.032523,0.070941,0.063036,-0.166603,-0.125722,0.125722,-0.778359,-0.496624,1.000000

In [39]:
titanic_df_final.count()

Survived      891
Pclass        891
Age           714
SibSp         891
Parch         891
Fare          891
Sex_female    891
Sex_male      891
Embarked_C    891
Embarked_Q    891
Embarked_S    891
dtype: int64

In [40]:
titanic_df_final['Age'].isna().value_counts()

False    714
True     177
Name: Age, dtype: int64

In [41]:
titanic_test_final.count()

Pclass        418
Age           332
SibSp         418
Parch         418
Fare          417
Sex_female    418
Sex_male      418
Embarked_C    418
Embarked_Q    418
Embarked_S    418
dtype: int64

In [42]:
titanic_df_final['Age'].mean()

29.69911764705882

In [43]:
def create_missing_indicator(df):
    if np.isnan(df['Age']):
        return 1
    else:
        return 0

titanic_df_final['missing_age'] = titanic_df_final.apply(create_missing_indicator, axis=1)
titanic_test_final['missing_age'] = titanic_test_final.apply(create_missing_indicator, axis=1)
titanic_df_final.loc[titanic_df_final['Age'].isna(), 'Age'] = titanic_df_final['Age'].mean()
titanic_test_final.loc[titanic_test_final['Age'].isna(), 'Age'] = titanic_df_final['Age'].mean()

In [44]:
train_X = titanic_df_final.drop('Survived', axis=1)
train_y = titanic_df_final['Survived']

In [45]:
train_X

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,missing_age
0,3,22.000000,1,0,7.2500,0,1,0,0,1,0
1,1,38.000000,1,0,71.2833,1,0,1,0,0,0
2,3,26.000000,0,0,7.9250,1,0,0,0,1,0
3,1,35.000000,1,0,53.1000,1,0,0,0,1,0
4,3,35.000000,0,0,8.0500,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
886,2,27.000000,0,0,13.0000,0,1,0,0,1,0
887,1,19.000000,0,0,30.0000,1,0,0,0,1,0
888,3,29.699118,1,2,23.4500,1,0,0,0,1,1
889,1,26.000000,0,0,30.0000,0,1,1,0,0,0
890,3,32.000000,0,0,7.7500,0,1,0,1,0,0

In [46]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train_X, train_y, train_size=0.33, random_state=42)

In [73]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

parameters_rf = {'n_estimators':[10, 25, 50, 100], 'max_features': list(range(1, X_train.shape[1]+1))}
rf = RandomForestClassifier(random_state=1)

clf_model_rf = GridSearchCV(rf, parameters_rf, n_jobs=-1)

In [74]:
clf_model_rf.fit(X_train, y_train)

GridSearchCV(estimator=RandomForestClassifier(random_state=1), n_jobs=-1,
             param_grid={'max_features': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                         'n_estimators': [10, 25, 50, 100]})

In [88]:
clf_model_rf.best_estimator_

RandomForestClassifier(max_features=6, n_estimators=10, random_state=1)

In [75]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, clf_model_rf.predict(X_test))

0.7839195979899497

In [89]:
from sklearn.ensemble import HistGradientBoostingClassifier

parameters_hgbm = {'learning_rate': [0.01, 0.05, 0.1, 0.25, 0.5], 'max_leaf_nodes': [3, 9, 15, 30, 45]}
hgbm = HistGradientBoostingClassifier(random_state=1)

clf_model_hgbm = GridSearchCV(hgbm, parameters_hgbm, n_jobs=-1)

In [90]:
clf_model_hgbm.fit(X_train, y_train)

GridSearchCV(estimator=HistGradientBoostingClassifier(random_state=1),
             n_jobs=-1,
             param_grid={'learning_rate': [0.01, 0.05, 0.1, 0.25, 0.5],
                         'max_leaf_nodes': [3, 9, 15, 30, 45]})

In [91]:
clf_model_hgbm.best_estimator_

HistGradientBoostingClassifier(max_leaf_nodes=3, random_state=1)

In [92]:
accuracy_score(y_test, clf_model_hgbm.predict(X_test))

0.8257956448911222